# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales
venv/
env/
.env
.venv
conda/

# Archivos temporales de Sistema Operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Proyectos y Caché de Anaconda / IDEs
anaconda_projects/
.anaconda_project/
.spyproject/
